.heroRegistro{
    width: 100vw;
    height: calc(100vh - 15.5rem);
    background-image: url(../img/registroA.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.heroRegistro::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.heroRegistro .heroRegistro_text{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.heroRegistro_text h1{
    font-weight: 300;
    font-size: 2rem;
    text-align: center;
    color: #FFFFFF;
    width: 60%;
}
.heroRegistro .heroRegistro_form{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.heroRegistro_form form{
    width: 70%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid #FF4C29;
    padding: 4rem 3rem;
}
.heroRegistro_form form h3{
    color: #FF4C29;
    font-size: 1.1rem;
}
.heroRegistro_form form input{
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    height: 2.3rem;
    font-size: 1rem;
    border: 1px solid #FF4C29;
    background-color: #FFFFFF;
    padding-left: 1rem;
    color: #000000;
}
.heroRegistro_form form .nombreForm{
    width: 100%;
    display: flex;
    gap: 1rem;
}
.nombreForm input{
    width: 50%;
}
.heroRegistro_form form button{
    color: #FFFFFF;
    height: 2.3rem;
    background-color: #FF4C29;
}